/* General CSS */
:root {
	--moss_green: #8b9474;
	--asparagus: #6cae75;
	--olivine: #8bbd8b;
	--sage: #c1cc99;
	--sandy_brown: #f5a65b;
	--white: #fff;
	--tomato: #ff6666;
}

body {
	margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    margin-bottom: 3em;
    padding: 1em;
    flex: 1;
}

.password-recovery-form {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    width: 16em;
    padding: 1em 2em;
    margin-top: 1em;
    margin-bottom: 5.8em;
    border-radius: 1em;
    border: var(--asparagus) 3px solid;
    padding-bottom: 2em;
}

#email {
    color: black;
    font-size: 16px;
}

form input{
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid var(--asparagus);
    border-radius: 0.5em;
    font-size: 16px;
}

.cool_button{
    background-color: var(--asparagus);
    color: white;
    border-style: solid;
    border-color: var(--asparagus);
    border-width: 1px;
    border-radius: 1em;
    padding: 0.3em;
    font-weight: 600;
    text-decoration: none;
    margin: 1em;
    font-size: 18px;
}

.cool_button:hover{
    background-color: var(--sandy_brown);
    border-color: var(--sandy_brown);
}