/* General CSS */
:root {
	--moss_green: #8b9474;
	--asparagus: #6cae75;
	--olivine: #8bbd8b;
	--sage: #c1cc99;
	--sandy_brown: #f5a65b;
	--white: #fff;
	--tomato: #ff6666;
}

body {
	margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    margin-bottom: 3em;
    padding: 1em;
    flex: 1;
}

.cool_button{
    background-color: var(--asparagus);
    color: white;
    border-style: solid;
    border-color: var(--asparagus);
    border-width: 1px;
    border-radius: 1em;
    padding: 0.5em;
    font-weight: 600;
    text-decoration: none;
    margin: 1em;
}

.cool_button:hover{
    background-color: var(--sandy_brown);
    border-color: var(--sandy_brown);
}

.row{
    display: flex;
    flex-direction: row;
}

/* Body top */
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.top h1{
margin: 0em 0em 0em 0.5em;
}

/* Form */

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1em;
}

.show_pass{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

.show_pass input{
    margin-right: 0.5em;
}

.show_pass p{
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

input{
    border-radius: 0.5em;
    border-style: solid;
    border-color: var(--asparagus);
    padding: 0.5em;
    background-color: var(--white);
    color: black;
    margin-bottom: 1em;
}

form .cool_button{
    margin-left: 0em;
}

.error{
    color: var(--tomato);
    font-size: 14px;
    margin-bottom: 0.5em;
}